<!DOCTYPE html>
<html>
<head>
  <title>Blog Home</title>
</head>
<body>
  <h1>All Blogs</h1>
  <a href="/createBlog">Create New Blog</a>
  <hr />
  <% if (blogs.length === 0) { %>
    <h2>No blogs found!</h2>
  <% } else { %>
    <% blogs.forEach(blog => { %>
      <div>
        <h2><%= blog.title %></h2>
        <h3><%= blog.subtitle %></h3>
        <p><%= blog.description %></p>
        <hr />
        <a href="/single/<%-blog.id %>">Read More</a>
      </div>
    <% }); %>
  <% } %>

</body>
</html>
